footer{
    padding: 10px 20px 0 10px;
    background-color: goldenrod;
    margin-top: 10px;
}
.navbar{
    background-color: black;
}
.link-footer{
    color: black;
}
.btn-info{
    width: 100%;
}
.card-hotel{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    margin-top: 10px;
    margin-right: 10px;;
}

.jumbotron{
    background-color: black;
    color:  goldenrod;
}